img {  
  display: block;  
  margin-left: auto;  
  margin-right: auto;  
  border: 8px ridge black;  
  padding: 5px;  
  }  
  
main {
    width: 900px;
    margin: auto;
  }
h1{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 60px;
    text-align: center;
}
h2{
    margin-top: 0px;
    padding-bottom: 30px;
    font-style: oblique;
    text-decoration: underline;
    font-size: 25px;
    border-bottom: 2px solid #e3e3e3;
}
body{
    margin: 0;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 18px;
    color: #333;
    background-color: silver;
    font: bold;
}
section{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
}
section h2 {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    margin: 0px;
  }
  section ul {
    margin-bottom: 10px;
  }